
{% extends "jinja2/base.html" %}
{% load static %}
{% block content %}
<div id="head" class="col-sm-12">
        <div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"> User portal coming soon!</h5>
    <p class="card-text">
        Sometime soon, you'll be able to buy and sell photos.<br>
        For now, get in touch with us.</p>
    <a href="contact.php" class="btn btn-primary">Contact</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

    </div>
{% endblock %}