{% extends "jinja2/base.html" %}
{% load static %}
{% block content %}
<div id="head" class="col-sm-12">
<h1>The Team</h1>
            At Quivver, we are determined to culminate a long-lasting community between surfers and photographers here in San Diego. <br>We look forward to hearing from you!<br>
 </div>
            <div class="card-group">
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Jack</h5>
      <p class="card-text">Blurb.</p>
      <p class="card-text"><small class="text-muted">Tagline</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ted</h5>
      <p class="card-text">Blurb.</p>
      <p class="card-text"><small class="text-muted">Tagline.</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Bo</h5>
      <p class="card-text">Blurb.</p>
      <p class="card-text"><small class="text-muted">Tagline.</small></p>
    </div>
  </div>
</div>
{% endblock %}
